__pycache__/
*.py[cod]
.venv
.env
/.vscode/
.idea/

# --- Large Data ---
/data/
/OTHER/
*.npy
*.nii
*.nii.gz

initial_runs/
runs/
data_save/
notebooks/
logs/
results/

*.pth
*.pt
*.ckpt
*.pkl

*.log
*.json
test.py

